/* Colores */

:root{
    --black-color: #000000;
    --gray-dark: #333333;
    --blur-dark: #1E4770;
    --white: #FFFFFF;
    --light-gray: #CCCCCC;
    --golden: #FFD700;
}

/* Estilos globales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-variation-settings: "slnt" -8;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--golden) var(--black-color);
}


body{
    background-color: var(--black-color);
    margin: auto;
}

.text-golden{
    color: var(--golden)
}


#about, #skills, #contact, #proyects,#reviews, #inicio{
    scroll-margin-top: 100px;
}

/* Encabezado */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 100;
    background-color: var(--black-color);
}

.box_image{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-left: 10px;
    background-color: var(--black-color);
}

.box_image img{
    width: 100%;
    height: 100%;
}

.box_header_nav{
    background-color: var(--black-color);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 1;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box_header_nav a{
    height: 100%;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

.box_header_nav a:hover{
    color: var(--golden);
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

/* Sobre mi */

.main_sections{
    width: 95%;
    margin: 140px auto;
}

.section_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.box_about_img{
    max-width: 100%;
}

.box_about_img img{
    width: 100%;
    height: 100%;
}

.box_about_paragraph{
    width: 90%;
    text-align: center;
}

.box_text p{
    color: var(--white);
    font-size: 22px;
}

.box_icons{
    width: 62%;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}

.box_icons svg{
    transition: 0.25s;
    cursor: pointer;
}

.box_icons svg:hover{
    stroke: var(--golden);
    transform: scale(1.3);
    transition: 0.25s;
}

/* Habilidades */

.section_skills{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.jumps{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.jumps span{
    color: var(--white);
    padding: 7px;
    font-size: 2rem;
    text-transform: uppercase;
}

.line{
    width: 100%;
    height: 1px;
    background-color: var(--white); 
}

.box_skills_technical{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 30px 0px;

    grid-template-areas: 
    "title title title"
    ;
}

.box_skills_title{
    margin-top: 20px;
    text-align: center;
    color: var(--white);

    grid-area: title;
}

.box_skills_icons{
    width: 80%;
    margin-top: 20px;
}

.box_skills_icons h2{
    color: var(--white);
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}

.box_skills_icons p{
    color: var(--light-gray);
    text-align: center;
    margin-top: 6px;
    font-size: 0.8rem;
}

.box_skills_icon_img{
    display: flex;
    align-items: center;
    background-color: var(--gray-dark);
    width: 110px;
    height: 110px;
    padding: 15px;
    margin: auto;
    border-radius: 14px;
    box-shadow: 0px 4px 3px var(--golden);
}

.box_skills_icon_img img{
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: 0.25s;
}

.box_skills_icon_img img:hover{
    transform: scale(1.1);
    transition: 0.25s;
}

.box_skills_soft{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: var(--white);
    gap: 20px;
}

.box_skills_title_main{
    font-size: 1.5rem;
    text-align: center;
}

.box_skills_soft ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
}

.box_skills_soft ul li{
    padding: 4px;
    font-size: 1.1rem;
}

/* Estilos Contacto */

.box_contact_paragraph p{
    padding: 8px;
    color: var(--white);
    text-align: center;
    font-size: 1.3rem;
}

.form{
    display: flex;
    align-items: center;
    border: 2px var(--golden) solid;
    border-radius: 25px;
    margin: 20px 0px;
}

.form svg{
    padding: 2px 10px;
    stroke: var(--golden);
}

.form input{
    appearance: none;
    border: none;
    outline: none; 
    background: none;
    padding: 0;
    margin: 0;
    color: var(--white);
}

.form_text{
    display: flex;
    flex-direction: row;
    border: 2px var(--golden) solid;
    border-radius: 25px;
    margin: 20px 0px;
}

.form_text textarea{
    appearance: none;
    border: none;
    outline: none; 
    background: none;
    padding: 11px;
    margin: 0;
    color: var(--white);
}

.form_text svg{
    stroke: var(--golden);
    padding: 0px 0px 0px 8px;
}

.form_text textarea::placeholder{
    color: var(--golden);
}

.form input::placeholder{
    color: var(--golden);
}

#button{
    font-size: 1rem;
    text-transform: uppercase;
}

.error{
    margin-top: 9px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: var(--golden);
    color: var(--black-color);
}

.form_text_button{
    width: 100%;
    padding: 10px;
    background: none;
    border-radius: 15px;
    border: 2px solid var(--golden);
    color: var(--golden);
}

.form_text_button:hover{
    background: var(--golden);
    color: var(--black-color);
    cursor: pointer;
}

/* Seccion Reseñas */

.box_reviews{
    width: 350px;
    margin: 30px auto;
    background: var(--gray-dark);
    border-radius: 30px;
    box-shadow: 0px 4px 3px var(--golden);
    padding: 5px;
    transition: transform 0.5s;
}

.box_reviews:hover{
    transform: scale(1.1);
}

.box_reviews_header{
    display: flex;
}

.box_reviews_header_img{
    width: 100px;
}

.box_reviews_header_img img{
    width: 100%;
    border-radius: 60px;
}

.box_reviews_header_text{
    padding: 17px;
}

.box_reviews_header_text h2{
    color: var(--golden);
}

.box_reviews_header_text p{
    color: var(--light-gray);
}

.box_reviews_paragraph{
    padding: 10px;
}

.box_reviews_paragraph p{
    color: var(--white);
    font-size: 1.1rem;
}

/* Sección Proyectos */

.box_proyects{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.box_proyects_img{
    width: 320px;
    height: 320px;
    margin: auto;
}

.box_proyects_img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.box_proyects_text h2{
    text-align: center;
    font-size: 1.8rem;
    margin: 25px 0px;
}

.box_proyect_text{
    color: var(--white);
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.box_proyects_nav{
    display: flex;
    justify-content: center;
}

.box_proyects_nav a{
    color: var(--golden);
    font-size: 1.2rem;
    padding: 15px;
    text-decoration: none;
    transition: transform 0.25s;
}

.box_proyects_nav a:hover{
    transform: scale(1.1);
}

/* Medida 667 pixeles */

@media(max-width: 667px){
     /* Diseño responsive para la barra de navegacón */
     .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -120%;
        z-index: 10;
        width: 300px;
        background: var(--black-color);
        box-shadow: 10px 10px 75px 2px rgba(255,255,255,0.63);
        transition: 0.75s ease-out;
    }

    .box_header_nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

@media(min-width: 668px){
    /* Encabezado */
    .box_icons{
        width: 30%;
    }

    /* Habilidades */

    .box_skills span{
        font-size: 2.5rem;
    }

    .box_main_skills{
        margin-top: 30px;
    }

    .box_skills span{
        font-size: 2.9rem;
    }

    .box_skills_title{
        font-size: 1.5rem;
    }

    .box_main_skills{
        display: flex;
        flex-direction: column;
    }

    .box_skills_technical{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 0px 0px;
    }

    .box_skills_icons h2{
        color: var(--white);
        text-align: center;
        margin-top: 10px;
        font-size: 1.2rem;
    }
    
    .box_skills_icons p{
        color: var(--light-gray);
        text-align: center;
        margin-top: 6px;
        font-size: 0.9rem;
    }

    .box_skills_icon_img{
        width: 160px;
        height: 160px;
    }

    .box_skills_icon_img img{
        width: 90%;
        margin: auto;
    }

    .box_skills_title_main{
        font-size: 2.3rem;
    }

    .box_skills_soft ul{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 70px;
        list-style-type: none;
    }
    
    .box_skills_soft ul li{
        padding: 4px;
        font-size: 1.3rem;
        transition: 0.5s ;
    }

    .box_skills_soft ul li:hover{
        transform: scale(1.1);
        transition: 0.5;
    }

    /* Responsive contacto */

    .box_contact_paragraph{
        width: 80%;
        margin: 30px auto;
    }

    .box_contact_form{
        width: 80%;
        margin: 30px auto;
    }

    .form svg{
        margin-right: 9px;
    }

    /* Responsive reseñas */

    .box_container_reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box_reviews{
        width: 400px;
    }

    .box_reviews_paragraph p{
        font-size: 1.2rem;
    }

    /* Responsive proyects */

    .box_proyects_img{
        width: 400px;
        height: 400px;
        margin: auto;
    }

    .box_proyects_text{
        width: 60%;
        margin: auto;
    }
    
    .box_proyects_text h2{
        font-size: 2.4rem;
    }

    .box_proyects_text p{
        font-size: 1.6rem;
    }

    .box_proyects_nav a{
        font-size: 1.5rem;
    }
}

@media(min-width: 1023px){

    /* Responsive sobre mi */

    .box_about_paragraph{
        width: 60%;
        text-align: center;
    }
    
    .box_about_paragraph p{
        color: var(--white);
        font-size: 23px;
    }

    /* Responsive Habilidades */

    .box_main_skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box_skills_technical{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 0px 0px;
    }

    .box_skills_icon_img{
        width: 120px;
        height: 120px;
    }

    .box_skills_icon_img img{
        width: 90%;
        margin: auto;
    }

    /* Responsive contacto */

    .box_contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .box_contact_paragraph{
        width: 40%;
        /* margin: 30px auto; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0;
    }

    .box_contact_paragraph p{
        text-align: center;
        font-size: 1.6rem;
    }

    .box_contact_form{
        width: 40%;
        margin: 0;
    }

    .form{
        width: 100%;
    }

    /* Responsive reseñas */

    .box_container_reviews{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .box_reviews_header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box_reviews_header_img{
        width: 110px;
    }

    .box_reviews_header_text{
        margin-left: 10px;
    }


    .box_reviews_header_text h2{
        font-size: 1.7rem;
    }

    .box_reviews_header_text p{
        font-size: 1.3rem;
    }

    .box_reviews{
        margin: 70px 0px;
        width: 45%;
        padding: 20px;
    }

    .box_reviews_paragraph p{
        font-size: 1.2rem;
        margin-top: 25px;
    }

    /* Responsive proyects */

    .box_proyects{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .box_proyects_img{
        width: 550px;
        height: 550px;
        margin: 0;
    }
    
    .box_proyects_text{
        display: flex;  
        justify-content: center;
        flex-direction: column;
        margin: 0px 30px;
        width: 45%;
    }

    .box_proyects_text h2{
        text-align: start;
        font-size: 3.2rem;
        margin: 40px 0px;
    }
    
    .box_proyects_text p{
        text-align: start;
        font-size: 2.1rem;
        margin-bottom: 15px;
    }

    .box_proyects_nav{
        display: flex;
        justify-content: start;
        gap: 8px;
    }
    
    .box_proyects_nav a{
        color: var(--golden);
        font-size: 1.6rem;
        padding: 15px 25px 15px 0px;
        text-decoration: none;
        transition: transform 0.25s;
    }
}

@media(min-width: 1440px){

    /* Caja de las secciones */

    .main_sections{
        width: 85%;
        margin: 140px auto;
    }

    /* Responsive sobre mi */
    
    .section_about{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .box_text{
        display: flex;
        align-items: center;
    }

    .box_about_img{
        width: 62%;
    }

    .box_about_img img{
        width: 100%;
        height: 100%;
    }

    .box_about_paragraph{
        width: 50%;
        text-align: center;
    }
    
    .box_about_paragraph p{
        color: var(--white);
        font-size: 32px;
    }

    /* Responsive reseñas */

    .box_container_reviews{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .box_reviews_header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box_reviews_header_img{
        width: 140px;
    }

    .box_reviews_header_text{
        margin-left: 10px;
    }


    .box_reviews_header_text h2{
        font-size: 1.7rem;
    }

    .box_reviews_header_text p{
        font-size: 1.3rem;
    }

    .box_reviews{
        margin: 70px 0px;
        width: 40%;
        padding: 20px;
    }

    .box_reviews_paragraph p{
        font-size: 1.5rem;
        margin-top: 25px;
    }
}